<?xml version="1.0" encoding="UTF-8" standalone="no"?><configuration>
    <database>
        <type>mysql</type>
        <name>employee_system</name>
        <host>localhost</host>
        <port>3306</port>
        <username ENCRYPTED="yes">PEayVNYSt8+/RbiYcib/VA==</username>
        <password ENCRYPTED="yes">/6OOIEn8FvgIa1pl8rRxew==</password>
    </database>
</configuration>